<div class="screen">
    <div class="screen-container">
        <div class="chat">
            <div class="chat-container">
                <div class="user-bar">
                    <div class="back">
                        <i class="zmdi zmdi-arrow-left"></i>
                    </div>
                    <div class="avatar">
                        <img src="img/icon-user-default.png" alt="Avatar">
                    </div>
                    <div class="name">
                        <span ng-bind="user.name"></span>
                        <span class="status" ng-bind="user.status"></span>
                    </div>
                    <div class="actions more">
                        <i class="zmdi zmdi-more-vert"></i>
                    </div>
                    <div class="actions attachment">
                        <i class="zmdi zmdi-attachment-alt"></i>
                    </div>
                    <div class="actions">
                        <i class="zmdi zmdi-phone"></i>
                    </div>
                </div>
                <div class="conversation">
                    <div class="conversation-container">
                        <div class="message" ng-class="message.type" ng-repeat="message in messages">
                            <span ng-bind="message.text"></span>
                            <span class="metadata">
                              <span class="time" ng-bind="message.time"></span>
                                <span class="tick" ng-show="message.type == 'sent'">
                                    <img ng-if="message.status == 'sent'" ng-src="img/whatsapp/message-sent.png">
                                    <img ng-if="message.status == 'delivered'" ng-src="img/whatsapp/message-delivered.png">
                                    <img ng-if="message.status == 'read'" ng-src="img/whatsapp/message-read.png">
                                    {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076">#}
                                        {#<path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"/>#}
                                    {#</svg>#}
                                </span>
                          </span>
                        </div>
                    </div>
                    <div class="conversation-compose">
                        <div class="emoji">
                            <img ng-src="img/whatsapp/smile.png" >
                        </div>
                        <input class="input-msg" name="input" autocomplete="off" readonly>
                        <div class="photo">
                            <i class="zmdi zmdi-camera"></i>
                        </div>
                        <div class="send">
                            <div class="circle">
                                <i class="zmdi zmdi-mail-send"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>