<div class="row adsense">
    <div class="col-md-8 col-md-offset-2">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- funny-chat-generator -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8932195652957723"
             data-ad-slot="2461142195"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>