<!-- Modal -->
<div class="modal fade" id="screenshot-modal" tabindex="-1" role="dialog" aria-labelledby="screenshot-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="screenshot-modal-label">Your funny screenshot</h4>
            </div>
            <div class="modal-body">
                <div class="img-result">
                    {% verbatim %}
                        <img id="to-share-img" class="img-responsive" ng-src="{{ image }}">
                    {% endverbatim %}

                    <div class="row share-actions">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn-block" ng-click="download()"><i class="icono-share"></i> Download</button>
                        </div>
                    </div>
                    <div class="row share-actions">
                        <div class="col-md-12">
                            {% include "/modules/share-buttons.twig" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-info" data-dismiss="modal"><i class="icono-reset"></i> Close and create new</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="waiting-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Generating</h4>
            </div>
            <div class="modal-body">
                <p>Please wait until image generation....</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->