<button class="fb" ng-click="share.fb()"><i class="icono-facebook"></i></button>
<button class="tw" ng-click="share.tweet()"><i class="icono-twitter"></i></button>
<button class="wa" ng-click="share.wa()"><i class="icono-disqus"></i></button>
<button class="in" ng-click="share.in()"><i class="icono-linkedIn"></i></button>