<button class="fb" ng-click="share.fb()"><i class="icono-facebook"></i></button>
<button class="tw" ng-click="share.tweet()"><i class="icono-twitter"></i></button>
<button class="gp" ng-click="share.gplus()"><i class="icono-gplus"></i></button>
<button class="in" ng-click="share.in()"><i class="icono-linkedIn"></i></button>