<footer>
    <p>
        FunnyChatGenerator is a free software.
        <br>Only WhatsApp for Android developed today but more will come (WhatsApp for iOS, groups, Messenger...).
        <br>If you want to help improve, feel free to send a coffee.
        <br>Thanks.
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="B7SSEFHLHES9E">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
    </form>
    <hr>
    <p>nightly built | version 0.0.1-alpha</p>
</footer>